---
import { reader } from "../lib/keystatic";

const navigation = await reader.singletons.navigation.read();
const links = navigation?.links ?? [];

const { class: className = "", linkClass = "" } = Astro.props;
---

<nav class={className}>
  {links.map((link) => (
      <a href={link.href} class={linkClass}>
        {link.label}
      </a>
  ))}
</nav>
